       <!-- tagline section -->
       <section class="bot-subscribe">
        <div class="container">

            <div class="row">

                <div class="col-sm-8">
                    <p>Have Any Questions</p>
                    <h3 class="color-white">Dedicating ourselves to delivering excellent service</h3>

                </div>

                <div class="col-sm-4">
                    <form method="post" id="contact-form" action="#">
                            <input name="email" type="text" value="" placeholder="" class="alt" />
                         <a href="contact.php" style="font-size:15px;padding:12px"  class="btn-submit alt">Contact us
                          </a>  <div class="clearfix"></div>
                        </form>
                </div>

            </div>

        </div>
        
    </section>    
    <!--/ tagline section -->


     <footer class="footer">
        <div class="container pad-container">

            <div class="row">
                <div class="col-sm-4 ">
                    <div class="widget r-pad50">
                        <h4>About Ridhdhi Sidhdhi tuition</h4>
                        <p>The King of Knowledge | Ridhdhi Sidhdhi tuition | The Value & Freedom of Learning | The very finest and biggest thinking minds yet to live on planet earth and every child should be one of them. </p>
                        <div class="clearfix"></div>
                         <div class="social-icons">
                            <ul>   <li><a target="_blank" href="https://m.facebook.com/yesteacher" class="facebook-alt" title="Facebook" data-rel="tooltip"  data-placement="top"><i class="icon-facebook"></i></a>
                                </li>
                                <li><a target="_blank" href="https://plus.google.com/104192076829190999231" class="google-alt" title="Google Plus" data-rel="tooltip"  data-placement="top"><i class="icon-gplus"></i></a>
                                </li>
                                
                            </ul>
                       </div>                                                         
                       
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget">
                        <h4>Our Courses</h4>
                              <div class="col-sm-4 col-xs-12">
                                  <ul class="circled">
                                    <li><a href="index.php">Home  </a> </li>
                                    <li><a href="about.php">About us</a> </li>
                                    <li><a href="contact.php">Contact us</a>
                                    </li>
                                   
                                 
                                                                                
                                </ul>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                  <ul class="circled">

                              
<li><a href="gallery.php"> Gallery </a></li>
                                    
<li><a href="admission.php"> Admission </a></li>

                             <li><a href="school.php">Tuition</a>
                            </li>
                           
                                
                                    
                                </ul>
                            </div>
                            
                          
                        
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="widget">
                        <h4>Contact Info</h4>
                        <div class="contact">
                            <i class="icon-picons-pin-2"></i>
                            <div class="content">                                        
                                <p class="bold  t-pad30">33, Milap Enclave, <br>Anand Mahal Road, Surat
                                </p>
                            </div>
                        </div>




                        <div class="contact">
                            <i class="icon-picons-telephone-call"></i>
                            <div class="content">                                        
                                <p class="bold  t-pad30"> +91 79905 67918</p>
                                <p class="bold "><a href="#">ridhdhisidhdhi@gmail.com</a></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                       
                  

                    </div>
                </div>
                
            </div>

        </div>
    </footer>
    <!--/ footer -->
<div class="bg-darker-gray">
        <div class="container t-pad20 b-pad10">

            <div class="col-md-6 t-pad10">
                <p class="gray">© 2020 Ridhdhi Sidhdhi tuition. All rights reserved.</p>
            </div>

        <!-- <div class="col-md-6 text-right">
                <div class="footer-links">
                    <ul>
                    <li><a href="home.php">Home</a>
                        </li>
                        <li><a href="about.php">About</a>
                        </li>
                        <li><a href="services.php">Services</a>
                        </li>
                        <li><a href="work.php">Work</a>
                        </li>
                        <li><a href="contact.php">Contact</a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>   -->                 

        </div>
    </div>