

            <!-- top bar -->
            <div class="topbar"></div>

            <div class="container topbar-content">

                <div class="col-md-6">
                    <ul>
                        <li>Ridhdhi Sidhdhi tuition's inspire, ignite the imagination & instill the love of learning.</li>
                    </ul>
                </div>
                
            </div>
            <!-- / top bar -->
            <!-- logo bar -->
            <div class="container header-nav">

                <div class="col-sm-3 col-xs-12">
                    <div class="basic-wrapper">
                        <a class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu'></i></a>
                      
                        
                        <a class="logo" href="/"><img src="images/logooo.png" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-sm-9 col-xs-12">
                    <ul class="top-contact">
                        <li>
                            <div class="icon">
                                <i class="icon-phone-1"></i>
                                <div class="content">
                                    <h3>+91 79905 67918</h3>
                                    <p>ridhdhisidhdhi@gmail.com</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="icon">
                                <i class="icon-location"></i>
                                <div class="content">
                                    <h3>33, Milap Enclave,</h3>
                                    <p>Anand Mahal Road, Surat </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="icon">
                                <i class="icon-clock-1"></i>
                                <div class="content">
                                    <h3>Mon - Sat 9:00 am - 9:00 pm</h3>
                                    <p>Sun Half Day </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <!--/ logo bar -->


            <!-- nav bar -->
            <div class="bg-navbar"></div>

            <div class="container">

                <div class="collapse navbar-collapse right">

                    <!-- navigation -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a href="/">Home</a></li>
                         <li class="dropdown"><a href="/about">About Us</a></li>
                        <li class="dropdown"><a href="/courses">Tuition Courses</a></li>
                        <li class="dropdown"><a href="/admission">Admission</a></li>
                        <li class="dropdown"><a href="/contact">Contact</a></li>
                        <li>
                            <ul class="social-top">
                                <li><a target="_blank" href="https://m.facebook.com/yesteacher" class="facebook-alt" title="Facebook" data-rel="tooltip" data-placement="top"><i class="icon-facebook"></i></a>
                                </li> 
                                <li><a href="https://plus.google.com/104192076829190999231" class="google-alt" title="Google Plus" data-rel="tooltip" data-placement="top"><i class="icon-gplus"></i></a>
                                </li>
                            </ul>
                        </li>

                     

                        <li><a href="/friends" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Students <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="/customers">Students </a></li>
                            <li role="separator" class="divider"></li>  
                            <li><a href="/addcustomers">Add Students </a></li> 
<li role="separator" class="divider"></li>  
                            <li><a href="/login">Login </a></li>
                          </ul>
                      </li>

                       

                    </ul>
                    <!-- /navigation -->

                </div>
            </div>
            <!-- nav bar -->

   