<!DOCTYPE html>
<html>
  <head> 
    <%- include('template/allcss.ejs'); -%>   
  </head>
  <body> 
  <div class="content-wrap">
      <div class="content">
      <%- include("template/header.ejs") -%>



    
      




        <!-- inner banner -->
  <section class="bg-white inner-banner pages">

    <div class="container pad-container">
        <div class="col-md-12">
            <h1>About Us</h1>
            <h3>Vision & Mission</h3>
        </div>
    </div>

</section>
<!-- / inner banner -->
  <!-- features section -->
  <section>

    <div class="container container-pad-b0">

        <div class="row">

            <div class="col-md-6">

                <h1 class="t-pad10">Ridhdhi Sidhdhi tuition</h1>
                <h3 class="b-pad60"> The very finest and biggest thinking minds yet to live on planet earth and every child should be one of them.</h3>


                <div class="services-box-2 left">
                    <i class="icon-picons-book"></i>
                    <div class="content">
                        <h3>Benefits of Student's</h3>
                        <p>- Understanding of Concepts 
- Unlimited Doubts Clearance Session
- Unlimited Test Series & Pattern
- Self Confidence in Learner's
- Enthusiastic Learning ability </p>
                    </div>
                </div>

                <div class="services-box-2 left ">
                    <i class="icon-picons-user-3"></i>
                    <div class="content">
                        <h3>Benefits of Teacher's</h3>
                        <p>- Curiosity & Interest based teaching style
- All Subject expert's team
- Encouraging teacher's Team
- Concept Based teaching
- Subject lovers & teaching passion.</p>
                    </div>
                </div>

                <div class="services-box-2 left ">
                    <i class="icon-picons-book-shelf-2"></i>
                    <div class="content">
                        <h3>Benefits of Parent's</h3>
                        <p>- 1st & 3rd Saturday Meeting Compulsory
- Parent's seminar
- Continues Performance updates
- Open discussion meeting & sharing of idea's</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-offset-1 t-pad60">
                <img src="images/content/img-con-hom.png"  alt="">
            </div>
        </div>
    </div>
</section>
<!--/ features section -->        
<!-- fact section -->
<section class="bg-dark-gray">
    <div class="row">
        <div class="f-element hideme dontHide">
            <div class="milestone-counter" data-perc="245"> <span class="milestone-count highlight">0</span>
                <div class="sep">&nbsp;</div>
                <h3 class="milestone-details">Total Students</h3>
            </div>
        </div>
        <div class="f-element hideme dontHide">
            <div class="milestone-counter" data-perc="4290"> <span class="milestone-count highlight">0</span>
                <div class="sep">&nbsp;</div>
                <h3 class="milestone-details">Total Teachers</h3>
            </div>
        </div>
        <div class="f-element hideme dontHide">
            <div class="milestone-counter" data-perc="2250"> <span class="milestone-count highlight">0</span>
              <div class="sep">&nbsp;</div>
                <h3 class="milestone-details">No of Toppers</h3>
            </div>
        </div>
        <div class="f-element hideme dontHide">
            <div class="milestone-counter" data-perc="1050"> <span class="milestone-count highlight">0</span>
                <div class="sep">&nbsp;</div>
                <h3 class="milestone-details">Satisfied Students</h3>
            </div>
        </div>
    </div>
</section>
<!--/ fact section -->   

<section>
    <div class="container-fluid pad-container2">
        <div class="row col-md-12 text-center">
            <h2 class="heading">Ridhdhi Sidhdhi tuition conducts Private Group Coaching</h2>
            <p class="h-sub">Purpose of Ridhdhi Sidhdhi tuition College Courses</p>
<div style="text-align:left" class="col-md-6">
<div class="box-text-center"> 
               <h2 class="">We teach students </h2>
            <p> 1. That they can go as far as their mind lets them go. We train every child whatever they can believe, they can achieve. <br>
2. Never doubt that a small group of thoughtful committed citizens can change the world; indeed it is the only thing that ever has.<br>
3. Learning is a treasure that will follow its owner everywhere.<br>
4. The learning process is different for each individual.<br>
5. Learning never exhausts the mind.
</p></div>
</div>
<div style="text-align:right" class="col-md-6">
<div class="box-text-center"> 
               <h2 class="">What we would train learners ? </h2>
            <p>1. Develop a passion for learning. If you do, you will never cease to grow.<br>
2. The beautiful thing about learning is that no one can take it away from you.<br>
3. All of the top achievers are life-long learners. Looking for new skills, insights, and ideas. This attitude helps growing and moving toward excellence.<br>
4. All things good to know are difficult to learn.<br>
5. Mind, once stretched by a new idea, and never regains its original dimensions.

            </p>     
                </div>
</div>
</div> 
</div>
</section>  
<!--/ team section -->




















    </div>
  </div>
  <%- include("template/footer.ejs") -%>
  <%- include("template/alljs.ejs") -%>
  </body>
</html>