<!DOCTYPE html>
<html>
  <head> 
    <%- include('template/allcss.ejs'); -%>   
  </head>
  <body> 


  <!-- content wrapper -->
  <div class="content-wrap">

      <div class="content">

    <%- include("template/header.ejs") -%>
   
    










    
           <!-- inner banner -->
           <section class="bg-white inner-banner pages">

            <div class="container pad-container">
                <div class="col-md-12">
                    <h1>Admission </h1>
                    <h3>We'd love to here from you</h3>
                </div>
            </div>

        </section>
        <!-- / inner banner -->

        <!-- intro section    <p>Thank you for your interest in Ridhdhi Sidhdhi tuition services. Please provide the following information about your business needs to help us serve you better. This information will enable us to route your request to the appropriate person. You will receive a response within 48 hours.</p>

-->
        <section class="bg-white">
            <div class="container pad-container">



<div class="row col-md-4 text-right">
 



                </div>



                <div class="row col-md-4 text-center">
                   
                 




<p>
“શ્રી” 
<br>
શ્રી શંખેશ્વરા પર્શ્વનાથાયનમઃ 
<br>
શ્રી મણીભદ્રવિરાયઃ નમઃ 
<br>
<h2>રિધ્ધી સિધ્ધી ટ્યુશન</h2>
ફોનઃ-7990567918/6355861676/02612765082
</p>



                </div>    

                <div class="row col-md-4 text-left">
                  
                
                 </div>

                <div class="clearfix"></div>

                <div class="row t-pad40">
<p>


પ્રતિ, <br>
માનનીય સંચાલકશ્રી, <br>

</p>
                    <div class="col-md-6">

                        <div class="form-container">
                            <div class="response alert alert-success"></div>




                            <form  method="post" enctype="multipart/form-data" class="form-horizontal">
    
                                <div class="row b-mgr20">
                                    <div class="col-sm-6">
                                        <input name="name" type="text" placeholder="Name *" required/>
                                    </div>

                                       <div class="col-sm-6">
                                        <input name="dob" type="text"  placeholder="Date of Birth" required/>
                                   

                                    </div>
                                   
                                </div>

                                 <div class="row b-mgr20">


                                       <div class="col-sm-6">
                                        <input name="bloodgroup" type="text"  placeholder="Blood Group" required/>
                                   

                                    </div>
                                    <div class="col-sm-6">
                                       <input name="mother" type="text"  placeholder="Mother's Name*"  required/>
                                   
                                    </div>
                                </div>

                              
                                <div class="row b-mgr20">
                                    <div class="col-sm-12">
                                         <textarea name="address" cols="20" rows="2" placeholder="Address *"></textarea> 

                                            </div>
                                </div>
                              
                               
                           
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="row b-mgr20">
                                     <div class="col-sm-6">
                                        <input name="father" type="text"  placeholder="Father's Name *" required/>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="fmobile" type="text"  placeholder="Father's Mobile No *" required/>
                                    </div> 



                                </div>

                                 <div class="row b-mgr20">
                                    <div class="col-sm-12">
                                       <input name="mobile" type="text"  placeholder="Mobile No *" required/>
                                   
                                    </div>
                                </div>

                                <div class="row b-mgr20">  <div class="col-sm-6">
                                         <input name="board" type="text"  placeholder="Std / Board" required/>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="schoolname" type="text"  placeholder="School" required/>
                                    </div>
                                  
                                </div>
                                <div class="row b-mgr20">  <div class="col-sm-6">
                                        <input name="markso" type="text"  placeholder="Marks Obtained " required/>
                                    </div>
                                    <div class="col-sm-6">
                                         <input name="per" type="text"  placeholder="Your Percentage" required/>
                                    </div>
                                    
                                </div>

                                 
</div>
<div class="row">
                                    <div class="col-sm-12">
                                        <input  class="btn-submit"  type="submit" name="save" value="Submit" />

                                        
                                    </div>
                                </div> 

                               


                                   <p>નિયમો:- (૧) દરેક વિદ્યાર્થીએ સમયસર અને નિયમિત હાજરી આપવાની રહેશે. (૨) અગાઉથી પરવાનગી મેળવ્યા વગર ગેરહાજર રહી શક્શો નહિ,અનીવાર્યસંજોગોમાં પરવાનગી મેળવ્યા વિના ગેરહાજર રહેનાર વિદ્યાર્થીએ બીજે દિવસે વાલીશ્રીની ચિઠ્ઠી અવશ્ય લાવવાની રહેશે. (૩)ગૃહકાર્ય સોપવામાં આવ્યું હોય  તે કોઈ પણ સંજોગોમાં કરી લાવવાનું રહેશે,કોઈ સંજોગોમાં ના થયું હોઈ તો વાલીશ્રીની ચિઠ્ઠી અવશ્ય લાવવાની રહેશે.(૪)વર્ગમાં નિયમિત મોડા આવનાર કે અનિયમિત હાજરી આપનાર વિદ્યાર્થી ને વર્ગમાં બેસવા દેવામાં આવશે નહિ.(૫)અન્ય રજાઓ કે તહેવારોમાં અભ્યાસ માટે અમે બોલાવીએ ત્યારે આવવું પડશે.(૬) કોઈ પણ જાતની ગેરવર્તણુંક બદલ વિદ્યાર્થીનું નામ રદબાતલ કરવામાં આવશે,તે સંજોગો માં ભરેલી ફી પછી નહિ મળે.(૭) સોસાયટી કે વર્ગમાં કરેલ નુકસાનની ભરપાઈ જે તે વિદ્યાર્થીએ કરવાની રહેશે.(૮)પરીક્ષા લેવાય તે દરેક વિદ્યાર્થીએ અપાવી પડશે,બીજીવાર કે બીજા દિવસે નહિ લેવાય. (૯) વિદ્યાર્થીની સાઇકલની જવાબદારી તેમની પોતાની રહેશે, અમારી રહેશે નહિ. (૧૦) કોઈપણ પ્રકારના વાહનો લાવવા નહિ.( સરકારશ્રીના આદેશ મુજબ તેમને વાહનનું લાઇસન્સ નથી મળેલ હોતું.).(૧૧)દરેક બાબતમાં સંચાલકશ્રી નો નિર્ણય વિદ્યાર્થી તથા વાલીશ્રી માટે આખરી તથા બંધનકર્તા રહેશે.</p>

                                


                </div>

            </div> </form>
        </section>
      

















        


  </div>
</div>


<%- include("template/footer.ejs") -%>
    <%- include("template/alljs.ejs") -%>
</body>
</html>