<!DOCTYPE html>
<html>
  <head> 
    <%- include('template/allcss.ejs'); -%>   
  </head>
  <body> 
  <!-- content wrapper -->
  <div class="content-wrap">
      <div class="content">
    <%- include("template/header.ejs") -%>
       








    
           <!-- inner banner -->
           <section class="bg-white inner-banner pages">

            <div class="container pad-container">
                <div class="col-md-12">
                    <h1>Contact Us</h1>
                    <h3>We'd love to here from you</h3>
                </div>
            </div>

        </section>
        <!-- / inner banner -->

        
          <!-- intro section -->
          <section class="bg-white">
            <div class="container pad-container">

                <div class="row col-md-12 text-center">
                    <h2 class="heading">Drop us a Line</h2>
                    <p>Thank you for your interest in Ridhdhi Sidhdhi tuition services. Please provide the following information about your business needs to help us serve you better. This information will enable us to route your request to the appropriate person. You will receive a response within 48 hours.</p>
                </div>

                <div class="clearfix"></div> 

                <div class="row t-pad40">

                    <div class="col-md-6">

                        <div class="form-container">
                            <div class="response alert alert-success"></div>
                            <form method="post" id="contact-form" action="">

                                <div class="row b-mgr20">
                                    <div class="col-sm-6">
                                        <input name="fname" type="text" value="" placeholder="First Name *" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="lname" type="text" value="" placeholder="Last Name *" />
                                    </div>
                                </div>
                                <div class="row b-mgr20">
                                    <div class="col-sm-6">
                                        <input name="email" type="text" value="" placeholder="Your Email Address" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="website" type="text" value="" placeholder="Website" />
                                    </div>
                                </div>
                                <div class="row b-mgr20">
                                    <div class="col-sm-12">
                                        <textarea name="message" cols="40" rows="3" placeholder="Your Message"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="submit" class="btn-submit" value="Submit" />
                                    </div>
                                </div>
                                <p class="small">* We don’t share your information with anyone. Check out our <a href="#">Privacy Policy</a> for more details. </p>

                            </form>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="row l-pad40">

                            <div class="services-box-2">
                                <i class="icon-picons-pin-2"></i>
                                <div class="content">
                                  <p><a href=""><b>Head Office</b></a>
                                        
                                    </p>
                                    <p>101 / 104, Poonam Mangal Bldg, Opp.latiff Park,Near S.K. Stone Signal, <br> Beside HDB Bank, Miraroad [E] Thane - 401107
                                        </p>

                                </div>
                            </div>

                              <div class="services-box-2">
                                <i class="icon-picons-pin-2"></i>
                                <div class="content">
                                  <p><a href=""><b>Branch Office</b></a>
                                        
                                    </p>
                                    <p>103/ 104, Sai Anand Plaza, Opp.Golden Nest,above Samsung Showroom<br> Mira Bhayandar Road, Mira Road [E] Thane - 401107
                                        </p>

                                </div>
                            </div>


                            <div class="services-box-2 t-pad20">
                                <i class="icon-picons-telephone-call"></i>
                                <div class="content">
                                    <p> +91 3601 7730 / 40 </p>
                                        <p> +91 3601 7710 / 20 </p> 
                                </div>
                            </div>

                            <div class="services-box-2 t-pad20">
                                <i class="icon-picons-envelope"></i>
                                <div class="content">
                                    <p><a href="mailto:yesteachersteam@gmail.com">yesteachersteam@gmail.com</a>
                                        
                                    </p>
                                </div>
                            </div>

                        </div>

                      

                    </div>

                </div>

                </div>
                </section>











                


  </div>
</div>


<%- include("template/footer.ejs") -%>
    <%- include("template/alljs.ejs") -%>
</body>
</html>