<!DOCTYPE html>
<html>
  <head> 
    <%- include('template/allcss.ejs'); -%>   
  </head>
  <body> 


  <!-- content wrapper -->
  <div class="content-wrap">

      <div class="content">

    <%- include("template/header.ejs") -%>
    
    






     <!-- inner banner -->
 <section class="bg-white inner-banner pages">

  <div class="container pad-container">
      <div class="col-md-12">
          <h1>School</h1>
        
      </div>
  </div>

</section>
<!-- / inner banner -->

<!-- leftside bar -->
<section>

  <div class="container pad-container2">
  
      <div class="row">

          <div class="col-sm-4 sidebar">                           

              <h3 class="title-left">Our Courses</h3>
              <ul class="circled">
                 
                

                    <li class="bg current"><a href="/courses">School</a>
                      </li>
                      <li class="bg"><a href="/courses">Colleges</a>
                      </li>
                      <li class="bg"><a href="/courses">Development Programs</a>
                      </li>   
                       <li class="bg"><a href="/courses">Entrance Exam</a>
                      </li>   
                      

                       <li class="bg"><a href="/courses">Checkpoint</a>
                      </li>   
                      

                

              </ul>
            <div class="sep30"></div>

          <!--  <h3 class="title-left">Download Brochure</h3>
              <ul class="circled">
                  <li class="bg"><i class="icon-picons-pds"></i>&nbsp;&nbsp;&nbsp;<a href="#">Home Remodeling.pdf </a>
                  </li>
                  <li class="bg"><i class="icon-picons-pds"></i>&nbsp;&nbsp;&nbsp;<a href="#">Wooden Flooring.pdf </a>
                  </li>
                
              </ul> -->

              
          </div>

          <div class="col-sm-8 content">

            <h3 class="heading"> <b style="font-size:25px;color: #0194d2;text-shadow: 0.5px 1px black;">Ridhdhi Sidhdhi tuition's Team Expertise | 
Private Group Coaching 
            </b></h3>

              <p><img src="/images/content/service1.jpg" alt="" class="image-right pic radius size" />

              <p>We believe that children have to be educated, but they have also to be left to educate themselves. The entire world is a laboratory to the inquiring mind.
Always remember that anyone who keeps learning stays young.
Cherish your visions and your dreams, as they are the blueprints of your ultimate achievements

</p><br>
<b style="font-size:20px">ICSE - 7th to 10th</b><br>
Maths | Physics | Chemistry | Biology | Social Science | English <br>| Marathi | Hindi 

              <br><br>
              <b style="font-size:20px">CBSE - 7th to 10th</b><br> Maths | Physics | Chemistry | Biology | Social Science | English <br>| Marathi | Hindi 

              </p>
              <p>&nbsp;</p>

              <p><img src="/images/content/service2.jpg" alt="" class="image-right pic radius size" /><b style="font-size:20px">SSC - 7th to 10th</b><br> Maths | Physics | Chemistry | Biology | Social Science | English | Marathi | Hindi  <br><br>

            <b style="font-size:20px">NIOS - 10th to 12th</b><br> Science Commerce Arts | Graduation Courses | All Subjects 
              </p>

        

          </div>

      </div>

  </div>

</section>
<!--/ leftside bar -->


  </div>
</div>


<%- include("template/footer.ejs") -%>
    <%- include("template/alljs.ejs") -%>
</body>
</html>