<!DOCTYPE html>
<html>
  <head> 
    <%- include('template/allcss.ejs'); -%>   
  </head>
  <body> 


  <!-- content wrapper -->
  <div class="content-wrap">

      <div class="content">

    <%- include("template/header.ejs") -%>
   
    






    <div class="banner-container revolution">
      <div class="banner">
          <ul>
            <li data-transition="fade"> <img src="/images/slider/s1.jpg" alt="" /></li>  
            <li data-transition="fade"> <img src="/images/slider/s2.jpg" alt="" /></li>
            <li data-transition="fade"> <img src="/images/slider/s3.jpg" alt="" /></li>
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
      </div>
  </div>
  <section class="bg-dark-gray">
      <div class="container">

          <div class="row">

              <div class="col-sm-8 t-pad40 b-pad30">
                  <h3 class="color-white">Ridhdhi Sidhdhi tuition's True Education= Self education+ Formal education</h3>
              </div>

              <div class="col-sm-4">

              </div>

          </div>

      </div>
  </section>

  <section class="bg-white">

    <div class="container">

        <div class="row b-pad40">

            <div class="col-md-4 t-pad60">
                <div class="services-box-2">
                    <div class="content">
                        <p class="b-mgr20"><img src="/images/homenews/home1.jpg" class="pic" alt="">
                        </p>
                        <h3>Ridhdhi Sidhdhi tuition | Mission</h3>
                        <p>We see each of our students prepared to succeed in a rapidly changing world.
                        All of our school, high school and college students learn in their own unique ways, 
                        so we help each one customize their plans to achieve a solid standards-based education 
                        in a friendly way taking advantage of all the appropriate modern technology tools. We help you take 
                        responsibility for your own current and future learning through developing your academic, 
                        interpersonal and technological skills. </p>
                        <p class="t-mgr10"><a href="">read more &rsaquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 t-pad60">
                <div class="services-box-2">
                    <div class="content">
                        <p class="b-mgr20"><img src="/images/homenews/home2.jpg" class="pic" alt="">
                        </p>
                        <h3>Ridhdhi Sidhdhi tuition | Vision</h3>
                        <p>Preparing each student to succeed in a rapidly changing world.  Ridhdhi Sidhdhi tuition Education group utilizes a standards-based education that addresses individual differences and learning styles. We empower students to take ownership and responsibility for their present and future learning by developing their academic, interpersonal, intrapersonal, and technological skills.</p>
                        <p class="t-mgr10"><a href="">read more &rsaquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="q-form-container">

                    <div class="q-form-title">
                        <i class="icon-picons-building"></i>
                        <div class="content">
                            <p>Don't Hesitate to give</p>
                            <h3>Feedback </h3>
                        </div>
                    </div>

                    <div class="q-form">

                        <form method="post" id="contact-form" action="#">

                            <div class="row">
                                <input name="fname" type="text" value="" placeholder="Name" />
                            </div>
                            <div class="row">
                                <input name="email" type="text" value="" placeholder="Email" />
                            </div>

                            <div class="row">
                                <input name="tel" type="text" value="" placeholder="Telephone" />
                            </div>
                            <div class="row">
                                <textarea name="message" cols="40" rows="1" placeholder="Feedback Messge"></textarea>
                            </div>
                              <div class="row">
                                <input name="ratingss" type="text" value="" placeholder="Ratings" />
                            </div>
                            
                            <div class="row">
                                <input type="submit" class="btn-submit" value="Submit Inquiry" />
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!--/ intro section -->








  </div>
</div>


<%- include("template/footer.ejs") -%>
    <%- include("template/alljs.ejs") -%>
</body>
</html>